.buttonIcon{
   background:transparent;
    inline-size: 2.5rem;
    block-size: 2.5rem;
    border-radius:50%;
    border:none;
    cursor:pointer; 

}
.buttonIcon.is-white{
    background-color: var(--white);
    color:var(--gray30);
}
.buttonIcon.is-primary{
    background:var(--primaryColor);
    color:var(--white);
}

.buttonIcon.icon-play{
    position: relative;
    left: 3px;
    top: 3px;
}
.buttonIcon:active{
    background:yellow;
    transform: scale(.80);
    transition: 5ms;
}

.buttonIcon:hover:is([class*='is-']){
    box-shadow: 0 8px 8px rgba(0,0,0,.3);
}


