.navigation{
    /* border: solid red 1px; */
    flex-shrink: 0;

}

.navigation  button {
    background-color:var(--gray60);
    border: none;
    block-size:1.875rem;
    inline-size:1.875rem;
    border-radius:50%;
    /* border:red solid 1px; */
}

.navigation-prev i {
    color: var(--gray10);
    position:relative;
    left: -1px;


}

.navigation-next i {
    color: var(--gray10);

    position:relative;
    right: -1px;

}
.navigation  button:disabled{
    opacity: 1;
    cursor: not-allowed;
}